.hello #welcome_img {
    overflow: hidden;
    float: right;
    margin-top: 100px;
    margin-right: 100px;
    width: 40%;
    aspect-ratio: true;
}


.hello #welcome_text{
    font-family: 'Exo 2', sans-serif;
    float: left;
    margin-top: 150px;
    margin-left: 100px;
    overflow: none;
    width: 550px;
    font-size: "320%";
}

/*auto ajust the header when width of page is lower then 500px*/
@media screen and (max-width:1500px) {
    .hello #welcomeText{
        margin-top: 100px;
    }

    .hello #welcome_img {
        margin-left: 100px;
        float: left;
        width: 80%;
        aspect-ratio: true;
    }
}


