html {
    background-image: url("/Images/background.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

.shape{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
}

.form{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form .formular{
    font-family: 'Exo 2', sans-serif;
    position: fixed;
    overflow: hidden;
    left: 7.5%;
    top: 25%;
    width: 500px;
    height: 400px;
}

#sign_in {
    width: 200px;
    height: 40px;
    margin-top: 2%;
    margin-left: 25%;
}

.formular #l_username, #l_email, #l_password {
    font-size: 25px;
}

button{
    border: none;
    width: 100px;
    height: 30px;
    position: fixed;
    border-radius: 10px;
}

::placeholder {
    font-size: 15px;
    color: rgb(136, 136, 136);
}

input{
    height: 40px;
    width: 400px;
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

input:hover{
    background-color: rgb(218, 218, 218);
}

p {
    display:none;
    font-size: 12px;
    margin-left: 20px;
}

.visibilityPassword{
   cursor: pointer;
   position: fixed;
   padding: 25px;
   right: 5%;
}

#home{
    cursor: pointer;
}

button:hover {
    background-color: rgb(236, 214, 245);
}

p {
    color: rgb(118, 2, 103);
    font-family:'Exo 2', sans-serif;
    margin-top: -1px;
    margin-left: 14px;
}